agno==1.1.3
python-dotenv
streamlit
google-generativeai
pydantic
duckduckgo-search
lancedb
bs4
lxml_html_clean
PyPDF2
tiktoken
pypdf
yfinance
groq
newspaper4k
googlesearch-python
pycountry
exa-py
pillow
opencv-python-headless
opensearch-py
aiohttp
googletrans
httpx
google-genai
google-api-python-client
plotly
pytesseract
pdf2image
PyMuPDF
requests
pdfplumber
